<mat-form-field class="search-form-field">
  <input type="text"
         aria-label="Number"
         placeholder="Rechercher un jeu"
         matInput
         (keyup.enter)="goToSearchResult()"
         [formControl]="autoComplete"
         [matAutocomplete]="auto"
  >
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option
      *ngFor="let game of gamesSearchedPreview$ | async"
      [value]="game.name"
      [routerLink]="'/games/' + game.id"
    >
      <img class="search-thumbnail" [src]="game.thumbnailUrl">
      {{ game.name }} {{ game.yearPublished ? '(' + game.yearPublished + ')' : ''}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
