<ng-container *ngIf="myGames$ | async as myGames">
  <div class="actions">
    <button mat-flat-button color="primary" [matMenuTriggerFor]="menu">
      <mat-icon>add</mat-icon>
      Ajouter un jeu
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>search</mat-icon>
        Depuis le catalogue
      </button>
      <button mat-menu-item>
        <mat-icon>add</mat-icon>
        Jeu personnalisé
      </button>
    </mat-menu>
  </div>
  <div class="row justify-content-between">
    <app-collection-item class="col-sm" *ngFor="let game of myGames" [game]="game">

    </app-collection-item>
  </div>
</ng-container>
