<ng-container *ngIf="myGames$ | async as myGames">
  <div class="actions">
    <button mat-flat-button color="primary" [matMenuTriggerFor]="menu">
      <mat-icon>add</mat-icon>
      Ajouter un jeu
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>search</mat-icon>
        Depuis le catalogue
      </button>
      <button mat-menu-item (click)="addGame()">
        <mat-icon>add</mat-icon>
        Jeu personnalisé
      </button>
    </mat-menu>
  </div>
  <div class="row">
    <app-collection-item class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex align-items-stretch" *ngFor="let game of myGames" [game]="game" (itemDeleted)="refresh()">
    </app-collection-item>
  </div>
</ng-container>
