//TODO: improve my responsive view

.game-attributes {
  margin-bottom: 40px;
}

.attribute-title {
  font-weight: bold;
  padding-right: 30px;
  padding-bottom: 7px;
  padding-top: 7px;
}

h1 {
  font-weight: bold;
}
