<mat-card>
  <mat-card-content>
    <div class="row align-items-center">
      <div class="col-sm-6 game-title">
        <img src="https://placehold.co/400">
        <h1>Les Loups-Garous de Thiercelieux</h1>
      </div>
      <div class="col-sm-3">
        <div class="progress-label">40 % (10 / 15 votes)</div>
        <mat-progress-bar color="accent" mode="determinate" value="40"></mat-progress-bar>
      </div>
      <div class="col-sm-3 game-actions">
        <button mat-icon-button [routerLink]="['/parties', 0, 'vote-guest']">
          <mat-icon>thumb_up</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>thumb_down</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
