.game-title {
  img {
    max-width: 80px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
  }

  h1 {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 16px;
  }

  :hover {
    cursor: pointer;
  }
}

.game-actions {
  text-align: right;
  opacity: 0;
  transition: ease 0.5s;
}

.progress-label {
  font-size: 13px;
  margin-bottom: 5px;
  text-align: center;
  opacity: 0;
  transition: ease 0.5s;
}

mat-card:hover {
  .progress-label, .game-actions {
    opacity: 1;
  }
}
