/* ------
 * Sitewide variables 
 * ------
 */
* {
	--cPrimary: #7b1fa2;
	--cSecondary: #ad343e;
	--cDark: #070707;
	--cDark1: #303030;
	--cDark2: #424242;
	--cBright: #FDFDFF;
}

/* ------
 * General Styling 
 * ------
 */

body {
	margin: 0;
	padding: 0;

	font-family: Arial, sans-serif;
	color: var(--cBright);
	background-color: var(--cDark);
	/* background-image: linear-gradient(var(--cDark), var(--cDark1)); */
}

h1 {
	margin: 0;
	padding-top: 4rem;
	font-size: 5rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	padding-bottom: 16px;
	margin-top: 16px;
	font-size: 2rem;
}

a {
	color: var(--cBright);
}

.neon {
	text-shadow:
		/* First layer : white glow */
		0 0 8px #ffffff,
		0 0 16px #ffffff,
		/* Subsequent layers : coloured glow */
		0 0 32px var(--cPrimary),
		0 0 36px var(--cPrimary),
		0 0 42px var(--cPrimary),
		0 0 62px var(--cPrimary),
		0 0 82px var(--cPrimary),
		0 0 86px var(--cPrimary),
		0 0 92px var(--cPrimary),
		0 0 102px var(--cPrimary),
		0 0 151px var(--cPrimary);
	margin: 75px auto;
}

@keyframes popFromRight {
	0% {
		opacity: 0;
	}

	100% {
		transform: translate(0);
		opacity: 1;
	}
}

.popFromRight.is-inViewport,
.popFromRightOnce {
	transform: translate(100%);
	animation: popFromRight 1.4s !important;
	animation-fill-mode: forwards !important;
}

/* ------
 * Styling sections 
 * ------
 */

/* Section : 
Opening - Presentation
*/

/* Right circle */
.presentation-block {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--cPrimary);
}

#presentation-block {
	clip-path: circle(50% at 100% 50%);
	background-image: radial-gradient(circle at right center, var(--cPrimary) 10%, var(--cDark) 30%);
	animation: circle 2.1s ease;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: flex-end;
	z-index: 1;
}

@keyframes circle {
	0% {
		clip-path: circle(0% at 100% 50%);
	}

	100% {
		clip-path: circle(50% at 100% 50%);
	}
}

#presentation-block img {
	float: right;
	height: 300px;
	animation-delay: 2s !important;

	filter: 
		drop-shadow(0 0 6px #ffffff) 
		drop-shadow(0 0 30px #ffffff);
}

#Title {
	animation: fadein 2.5s ease;
	font-size: 6rem;
}

#Subtitle {
	margin: 60px auto;
	animation: fadein 2.5s;
	animation-delay: 1.2s;
	opacity: 0;
	animation-fill-mode: forwards !important;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* Section : 
Slides
*/

/* Circle : circle echo in second block */
#secondPresBlock {
	clip-path: circle(50% at 100% -50%);
	animation: circle2 2.1s ease;
}

@keyframes circle2 {
	0% {
		clip-path: circle(0% at 100% -50%);
	}

	100% {
		clip-path: circle(50% at 100% -50%);
	}
}

.slide-content {
	height: 100%;
	justify-content: center;
	align-items: center;
}

.slide-content > img {
	max-height: 100%;
	max-width: 60%;
}

@media (max-width: 800px) {

	.slide-content {
		flex-direction: column;
		display: flex;
	}
}

@media (min-width: 800px) {

	.slide-content {
		display: grid;
		text-align: left;
		grid-template-columns: 50% 50%;
	}

	.slide-content h2 {
		padding-left: 12rem;
	}
}

.slide > * {
	height: 100%;
}

/* Carousel (slides) arrows */
.fp-arrow.fp-prev {
	border-color: transparent var(--cPrimary) transparent transparent;
}

.fp-arrow.fp-next {
	border-color: transparent transparent transparent var(--cPrimary);
}

.fp-arrow {
	border-color: black;
}

/* Section : 
GameMasters - Touristes 
*/
#touristes {
	display: grid;
	grid-template-columns: repeat(4, 15%);
	padding-left: 12rem;
	padding-right: 12rem;
	justify-content: space-between;
	text-align: center;
	overflow-x: hidden;
}

.touriste {
	border-bottom: 3px solid var(--cPrimary);
	height: 90%;

	opacity: 0;
	animation-fill-mode: forwards !important;

	animation-duration: 1s;
}

.touriste h3 {
	margin-bottom: 24px;
}

.touriste:nth-of-type(2) {
	animation-delay: 0.5s !important;
}

.touriste:nth-of-type(3) {
	animation-delay: 1s !important;
}

.touriste:nth-of-type(4) {
	animation-delay: 1.5s !important;
}

.touriste img {
	max-height: 100%;
	max-width: 100%;
}

/* Section : 
End - Link
*/
#final {
	text-align: center;
}

.neon > a {
	text-decoration: none;
	animation: animateColor 3s infinite linear;
}

.neon > a:hover {
	animation: animateColor 0.4s infinite linear;
}

@keyframes animateColor {
	0%, 100% {
		text-shadow:
			0 0 8px var(--cSecondary),
			0 0 32px var(--cSecondary);
	}

	50% {
		text-shadow:
			0 0 8px var(--cSecondary),
			0 0 32px var(--cSecondary),
			0 0 36px var(--cSecondary),
			0 0 42px var(--cSecondary),
			0 0 62px var(--cSecondary),
			0 0 82px var(--cSecondary),
			0 0 86px var(--cSecondary),
			0 0 92px var(--cSecondary),
			0 0 102px var(--cSecondary),
			0 0 151px var(--cSecondary);
	}
}

#welcome-texts, #aboutus h1 {
	padding-top: 12rem;
	padding-left: 12rem;
}
