<mat-card *ngIf="game">
  <mat-card-header>
    <mat-card-title>
      {{ game.name }}
    </mat-card-title>
  </mat-card-header>
    <ng-container *ngIf="game.thumbnailUrl !== undefined else placeholder">
      <img [src]="game.imageUrl" class="img-fluid">
    </ng-container>
    <ng-template #placeholder>
      <img src="https://placehold.co/400" class="img-fluid">
    </ng-template>
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="navigateToDetails()">
      <mat-icon>visibility</mat-icon>
      Détails
    </button>
    <button *ngIf="canBeDeleted" mat-icon-button color="warn" (click)="deleteMe()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<!--  <div *ngIf="game" class="custom-card">-->
<!--    <img [src]="game.imageUrl" alt="Image 2">-->
<!--  </div>-->
