<div>
  <button mat-flat-button>
    <mat-icon>arrow_left</mat-icon>
    Retour à la soirée
  </button>
</div>
<div class="content-fluid">
  <div class="row align-items-center">
    <div class="col-sm-4">
      <div class="login-container">
        <app-login></app-login>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="or-wrapper">OU</div>
    </div>
    <div class="col-sm-4">
      <div class="login-container">
        <mat-card>
          <img id="card-img" matCardImage src="./assets/img/casino.svg" alt="GameSync Logo">

          <h2>Votez directement</h2>
          <mat-card-content>
            <form >
              <mat-error *ngIf="false">
                L'email ou le mot de passe est incorrect
              </mat-error>
              <mat-form-field>
                <input matInput type="text" placeholder="Nom" required>
                <mat-error>
                  L'adresse mail n'est pas valide
                </mat-error>
              </mat-form-field>


              <button mat-raised-button color="primary" >Voter</button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
