.content-fluid {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}


.or-wrapper {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}
