<div class="content-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <div class="button-logo-container">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>casino</mat-icon>
      </button>
      <a *ngIf="!mobileQuery.matches" class="app-name toolbar-link" routerLink="/" mat-list-item>GameSync</a>
    </div>
    <div class="search-container">
      <app-search></app-search>
    </div>
    <div class="login-button-container">
      <div *ngIf="!mobileQuery.matches" class="spacer"></div>
      <div>
        <ng-container *ngIf="authService.connectedUserSubject$ | async as user else loggedOut">
          <button mat-button [matMenuTriggerFor]="userMenu">
            <mat-icon>account_circle</mat-icon>
            <ng-container *ngIf="!mobileQuery.matches">
              {{ user.userName }}
            </ng-container>
          </button>
          <mat-menu #userMenu>
            <button mat-menu-item (click)="signOut()">
              <mat-icon>logout</mat-icon>
              Déconnexion
            </button>
          </mat-menu>
        </ng-container>
        <ng-template #loggedOut>
          <a class="toolbar-link" routerLink="/login" mat-list-item>
            <mat-icon matListItemIcon>account_circle</mat-icon>
            <ng-container *ngIf="!mobileQuery.matches">
              S'identifier
            </ng-container>
          </a>
        </ng-template>

      </div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav opened="true" [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches"
                 fixedTopGap="56">
      <mat-nav-list role="navigation">
        <a routerLink="/" mat-list-item>
          <mat-icon matListItemIcon>home</mat-icon>
          Accueil
        </a>
        <a routerLink="/parties" mat-list-item>
          <mat-icon matListItemIcon>local_bar</mat-icon>
          Soirées
        </a>
        <a routerLink="/collection" mat-list-item>
          <mat-icon matListItemIcon>shelves</mat-icon>
          Collection
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content-wrapper">
        <ng-content></ng-content>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
