<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>casino</mat-icon>
    </button>
    <h1 class="example-app-name">GameSync</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav opened="true" [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches"
                 fixedTopGap="56">
      <mat-nav-list role="navigation">
        <a routerLink="/" mat-list-item>
          <mat-icon matListItemIcon>home</mat-icon>
          Accueil
        </a>
        <a routerLink="/parties" mat-list-item>
          <mat-icon matListItemIcon>local_bar</mat-icon>
          Soirées
        </a>
        <a routerLink="/collection" mat-list-item>
          <mat-icon matListItemIcon>shelves</mat-icon>
          Collection
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
