<mat-card *ngIf="party">
  <mat-card-content>
    <div class="row">
      <div class="col-sm-4 party-content">
        <p>{{party.name}}</p>
        <p>{{party.numberOfGames}} jeux</p>
      </div>
      <div class="col-sm-4 party-content">
        <p>{{party.location}}</p>
        <p>{{party.dateTime | date:'dd.MM.yyyy'}}</p>
      </div>
      <div class="col-sm-4 actions">
        <button mat-flat-button [routerLink]="['/parties', party.id]">
          <mat-icon>edit</mat-icon>
          Modifier
        </button>
        <button mat-icon-button color="warn" (click)="removeParty()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
