<mat-card>

  <img id="card-img" matCardImage src="./assets/img/casino.svg" alt="GameSync Logo">

  <h2>S'inscrire</h2>

  <mat-card-content>
    <form [formGroup]="registerForm">
      <mat-error *ngIf="false">
        L'email ou le mot de passe est incorrect
      </mat-error>
      <mat-form-field>
        <input formControlName="email" matInput type="text" placeholder="Email" required>
        <mat-error>
          L'adresse mail n'est pas valide
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="userName" matInput placeholder="Nom">
        <mat-error>
          Ce champ est obligatoire
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="password" matInput type="password" placeholder="Mot de passe" required>
        <mat-error>
          Ce champ est obligatoire
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="confirmPassword" matInput type="password" placeholder="Confirmer le mot de passe"
               required>
        <mat-error>
          Les mots de passe ne correspondent pas
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="(loadingService.isLoading$ | async)!" (click)="submit()">
        <mat-spinner *ngIf="loadingService.isLoading$ | async else registerSpan" diameter="30"></mat-spinner>
        <ng-template #registerSpan>
          <span>S'inscrire</span>
        </ng-template>
      </button>
    </form>
  </mat-card-content>

  <div class="link-wrapper">
    <a routerLink="/login">Déjà inscrit ?</a>
    <a routerLink="/login">Mot de passe oublié</a>
  </div>

</mat-card>
